// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

:root {
  --q-primary: #337ccf;
  --q-secondary: #0c356a;
  --q-accent: #ebf2fb;
  --q-dark: #333;
  --q-dark-page: #a2a1a0;
  --q-positive: #198038;
  --q-negative: #da1e28;
  --q-negative-dark: #b20000;
  --q-info: #e0e0e0;
  --q-warning: #fe8b39;
  --q-bg: #f6f6f6;
}

$primary: #337ccf;
$secondary: #0c356a;
$accent: #ebf2fb;

$dark: #333;
$dark-page: #a2a1a0;

$positive: #198038;
$negative: #da1e28;
$negative-dark: #b20000;

$info: #e0e0e0;
$warning: #fe8b39;

$bg: #f6f6f6;
